/* https://coolors.co/2660a4-edf7f6-f19953-c47335-56351e */

:root{
    --primary-color: #56351eff; /*lapis-lazuli*/
    --secondary-color: #2660a4ff;; /*azure-web*/
    --accent1-color: #f19953ff; /*sandy-brown*/
    --accent2-color: #c47335ff; /*copper*/
    --accent3-color: #edf7f6ff; /*caf-noir*/
    --heading-font: "Rubik", sans-serif;
    --body-font: "Nunito", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.5s ease;
    padding: 7px;
    border-radius: 10px;
}

header a:hover {
    color: var(--accent3-color);
    background-color: var(--accent2-color);
    transition: all 0.5s ease;
}

header {
    display: grid;
    grid-template: 1fr / 30% 70%;
    justify-content: center;
    align-items: center;
    background-color: var(--accent3-color);
}

header nav{
    display: flex;
    justify-content: space-around;
}

header img {
    justify-self: center;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p , section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero{
    position: relative;
    border: 5px var(--accent1-color) solid;
    margin: 16px;
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.history-grid{
    display: grid;
    grid-template: 1fr / 2fr 1fr 2fr;
    align-items: center;
    text-align: center;
}

.history-grid img {
    max-width: 200px;
}

.adventure-grid{
    display:grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}

.adventure-grid img{
    max-width: 120px;
    justify-self: center;
    align-self: center;
}

.adventure-grid figure{
    display: flex;
    flex-direction: column;
}

.adventure-grid figcaption{
    font-size: 0.6rem;
    justify-self: center;
    align-self: center;
}

section{
    border: 5px var(--accent1-color) solid;
}

section h2{
    text-align: center;
    padding-bottom: 10px;
    font-size: 27px;
}


.hero h1{
    position: absolute;
    top: 20%;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;
}

.hero article{
    position: absolute;
    top: 50%;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: #fff;  
    margin: 16px;  
    font-weight: 700;
}

.hero article img{
    float: right;
    width: 125px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 15px var(--accent3-color);
    height: auto;
    clear: both;
    margin: 16px;
}

.footer-grid{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.footer-grid p{
    justify-self: center;
    grid-column: 2/5;
}

.footer-grid nav{
    display: flex;
    justify-content:center;
    align-content: baseline;
    grid-column: 5/6;
    border-bottom: 5px var(--accent1-color) solid;
}
.footer-grid img{
    max-width: 40px;
    padding: 3px;
}

.footer-grid a {
    text-decoration: none;
    color: var(--primary-color);
}

.information{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information strong{
    padding-right: 3px;
}

.map iframe{
    max-width: 280px;
    height: auto;
    border: 0;
}

.company-information{
    padding: 5px;
}

.contactus{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    border: 1px solid var(--secondary-color);
    border-radius: 9px;
    padding: 10px;
}

.company-information, .happy-customers, .message-form{
    padding: 10px;
}

figcaption{
    font-style: italic;
}

.form-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.happy-customers img {
    width: 130px;
}

.happy-customers figcaption{
    font-size: 10px;
}

.happy-customers figure{
    padding-bottom: 4rem;
}


legend{
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.1rem;
    font-family: var(--heading-font);
}

label{
    text-align: left;
    padding: 0.6rem;
    font-family: var(--body-font);
    font-size: 0.9rem;
}

fieldset{
    padding: 2px;
}

.contactus{
    background-color: var(--accent3-color);
}

.contactus form{
    background-color: var(--accent3-color);
}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
    vertical-align: bottom;
}


form h2 {
    border-top: 1px solid var(--primary-color);
}

input, select, textarea{
    padding: 0.2rem;
    font-size: 0.9rem;
}

.button{
    display: flex;
    padding: 2px;
    border-bottom: 1px solid var(--primary-color);
}

.button button {
    margin: 0.5rem;
    background-color: #194981;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 0.9rem;
    justify-self: center;
}

.contactus h1{
    text-align: center;
    padding: 10px;
}