/* https://coolors.co/2660a4-edf7f6-f19953-c47335-56351e */

:root{
    --primary-color: #2660a4ff;
    --secondary-color: #edf7f6ff;
    --accent1-color: #f19953ff;
    --accent2-color: #c47335ff;
    --accent3-color: #56351eff;
    --heading-font: "Rubik", sans-serif;
    --text-font: "Nunito", sans-serif;
}