main {
    max-width: 840px;
}

aside {
   width: 20rem ;
   margin: 1rem;
   border: 1px solid rgb(30,144,255, 0.2);
   padding: 1rem;
   background-color: #EDE8D0;
   color: black; 
   text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    align-self: center;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 1.5px solid rgb(30,144,255, 0.5);
    text-align: center;
}