nav {
    background-color: rgb(180, 113, 50);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
}

aside {
   width: 20rem ;
   margin: 1rem;
   border: 1px solid rgb(30,144,255, 0.2);
   padding: 1rem;
   background-color: #EDE8D0;
   color: black; 
   text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    align-self: center;
}

main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 1.5px solid rgb(30,144,255, 0.5);
    text-align: center;
}